.app {
  height: 100%;
  overflow: auto;
}

.contentContainer {
  width: 100%;
  .content {
    flex-grow: 1;
  }
  &>* {
    transition: .4s all;
  }
  @media screen and (max-width: 1200px) {
    overflow: hidden;
    &>* {
      transform: translateX(-270px);
    }
    &.Home {
      &>* {
        transform: translateX(-270px);
      }
    }
    &.Menu {
      &>* {
        transform: translateX(0);
      }
    }
    &.Chat {
      &>* {
        transform: translateX(-540px);
      }
    }
    .content {
      min-width: 100vw;
      max-width: 100vw;
      transition: 0.4s all;
    }
  }
}
