.wrapper {
  display: flex;
  flex-wrap: wrap;
  &>* {
    flex-basis: calc(25% - 30px);
    margin: 15px;
    @media screen and (max-width: 400px) {
      flex-basis: calc(100% - 30px);
    }
  }
  .extra {
    @media screen and (max-width: 512px) {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    .extraItem {
      display: flex;
      align-items: center;
    }
    .extraIcon {
      font-size: 1.25rem;
      margin-right: 12px;
    }
  }
}
